    body {
        font: 14px sans-serif;
    }

    .axis text {
        font-size: 10px;
    }

    text.symbol {
        fill: #BBBBBB;
    }

    path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    path.volume {
        fill: #DDDDDD;
    }

    rect.pane {
        cursor: move;
        fill: none;
        pointer-events: all;
    }

    .indicator path.line {
        fill: none;
        stroke-width: 1;
    }

    .ma-0 path.line {
        stroke: #1f77b4;
    }

    .ma-1 path.line {
        stroke: #aec7e8;
    }

    .ma-2 path.line {
        stroke: #ff7f0e;
    }

    button {
        position: absolute;
        right: 110px;
        top: 25px;
    }
