html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-size: 16px;
	background-color: #4a5e5e;
	overflow-y: auto;
}

.header {
	position: sticky;
	top: 0;
	background-color: #1387b5;
	/* margin-bottom: 0.8rem; */
	min-height: 3rem;
	width: 100%;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1rem;
	margin: 1rem;
	/*
	margin-top: 4rem;
	*/
	margin-bottom: 2.3rem;
}

.chart {
	display: block;
	background-color: rgb(255, 255, 255);
	border: 1px solid darkgray;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #1387b5;
	/* margin-top: 14px; */
	min-height: 2rem;
	/* width: 100%; */
	z-index: 1000;
}