body {
  font: 10px sans-serif;
}

button {
  position: absolute;
  right: 70px;
  top: 440px;
  display: none;
}

path.candle {
  stroke: #000000;
}

path.candle.body {
  stroke-width: 0;
}

path.candle.up {
  fill: #00AA00;
  stroke: #00AA00;
}

path.candle.down {
  fill: #FF0000;
  stroke: #FF0000;
}

.y.annotation.left path {
  fill: #00AA00;
}

.y.annotation.right path {
  fill: #FF0000;
}

.x.annotation path {
  fill: #DDD80E;
}
