body {
  font: 10px sans-serif;
}

text {
  fill: #000;
}

button {
  position: absolute;
  right: 20px;
  top: 440px;
  display: none;
}

path.candle {
  stroke: #000000;
}

path.candle.body {
  stroke-width: 0;
}

path.candle.up {
  fill: #00aa00;
  stroke: #00aa00;
}

path.candle.down {
  fill: #ff0000;
  stroke: #ff0000;
}
