body {
  font: 10px sans-serif;
}

text {
  fill: #000;
}

button {
  position: absolute;
  right: 20px;
  top: 440px;
  display: none;
}

path.line {
  fill: none;
  stroke: #000000;
  stroke-width: 1;
}
