rect {
  fill: #fff;
}

.axis {
  font-size: 1.5em;
}

.chart {
  background-color: #F7F2C5;
  width: 960px;
  height: 500px;
}

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move;
}

circle.selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}

circle:hover {
  fill: #ff7f0e;
  stroke: #707f0e;
}

circle.selected:hover {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}
